<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sign Up Confirmation and Onboarding Process</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            background-color: #B5813F;
            color: #fff;
            padding: 5px 0 5px 0;
        }
        .content {
            margin: 20px 0;
        }
        .footer {
            text-align: center;
            color: #888;
            font-size: 12px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome to DayBreakPass!</h1>
        </div>
        <div class="content">
            <p>Hello {{name}},</p>
            <p>Congratulations! Your sign-up with DayBreakPass is complete, and we're excited to begin your onboarding
                process.
                .</p>
            <p>Welcome aboard! We're delighted to have you join us. Expect a call soon from one of our representatives.
            </p>
            <p>For any questions or assistance, please feel free to reach out to us at <a href="tel:+918369029862" >8369029862</a> or email us at
               <a href="mailto:team@daybreakpass.com"> team@daybreakpass.com</a>.
            </p>
            <p>Best regards,<br>The Team DayBreakPass</p>
        </div>
        <div class="footer">
            <p>&copy; 2024 DayBreakPass. All rights reserved.</p>
        </div>
    </div>
</body>
</html>
