@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Antic+Didone&family=Della+Respira&family=Italiana&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap'); */

body {
    /* font-family: "Open Sans", sans-serif; */
    /* font-family: "Lato", sans-serif; */
    font-family: "Poppins", sans-serif;
    /* font-family: "Montserrat", sans-serif; */
}

.containerSpacer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.text-3d {
    position: relative;
    color: white;
    font-weight: bold;
    display: inline-block;
}

.text-3d::before {
    content: attr(data-text);
    position: absolute;
    top: 3px;
    left: 5px;
    color: #B5813F;
    z-index: -1;
    white-space: nowrap;
}
.form-checkbox-round {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    border: 2px solid #B5813F;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
  }
  .form-checkbox-round:checked {
    background-color: #B5813F;
  }

@layer utilities {
    @keyframes slide-up {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slide-down {
        0% {
            transform: translateY(0);
            opacity: 1;
        }

        100% {
            transform: translateY(100%);
            opacity: 0;
        }
    }

    .animate-slide-up {
        animation: slide-up 0.5s ease-out;
    }

    .animate-slide-down {
        animation: slide-down 0.5s ease-out;
    }
}


.custom-list-item {
    padding-left: 1.25em; /* Adjust as needed */
    text-indent: -1.25em; /* Match the padding-left value */
  }